.profile-container{
    min-height: 100%;
    height: fit-content;
    width: 100%;
    background-color: #f3f4f8;
}

.profile-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    color: gray;
    height: 80px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    overflow: hidden;
}

.profile-link{
    color: #68bd45;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    transition: ease-in-out .2s;
    padding-left: 2.5%;
}

.profile-link:hover{
    cursor: pointer;
}

.profile-wrapper{
    height: 900px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    justify-content: space-between;
}