.forum-container {
    width: 100%;
    height: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}

.forum-header{
    background-color: #F7F7F7;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px #ddd;
    text-align: left;
}

.forum-header h3{
    color: gray;
    margin-left: 50px;
    
}

.forum-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
}

.forum-container label {
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
}

.label-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-btn{
    color: #68bd45;
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 14px;
    font-weight: 600;
}

.label-btn:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
}

.input-wrapper textarea {
    resize: none;
    overflow: hidden;
    height: 100px;
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.ddl-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.ddl-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ddl-wrapper select {
    position: relative;
    font-size: 12px;
    border: 1px solid #ddd;
    text-align: left;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.ddl-wrapper select option{
    font-size: 16px;
}

.btn-save {
    color: #68bd45;
    text-transform: uppercase;
    text-decoration: none;
    background: #FEFEFE;
    /* padding: 20px; */
    border-radius: 10px;
    width: 150px;
    height: 50px;
    transition: all 0.4s ease 0s;
    margin: auto;
    border: 4px solid #68bd45;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-save:hover {
    color: #fff;
    background-color: #68bd45;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}